@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-primary;
    user-select: none;
}


.hide-scroll {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
