@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-primary;
    user-select: none;
    overflow-x: hidden;
    -webkit-touch-callout: none;
}


img {
  -webkit-user-drag: none; 
}

.hide-scroll {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
